@model aBlog.Core.ViewModels.PostFormViewModel

@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Heading
</h2>
@using (Html.BeginForm(Model.Action, "Posts"))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(i => i.Id)
        <div class="form-group">
            @Html.LabelFor(p => p.CategoryName)
            @Html.TextBoxFor(p => p.CategoryName, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(p => p.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Title)
            @Html.TextBoxFor(p => p.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Description)
            @Html.TextAreaFor(p => p.Description, new { @class = "form-control post-form", rows = "10" })
            @Html.ValidationMessageFor(p => p.Title)
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}